<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link href="//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster" rel="stylesheet" type="text/css"/> 
    
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<br>

<nav class="navbar navbar-dark bg-dark" style="font-family:'Chalkduster';">
  <a class="navbar-brand" href="/"><img src="images/angry.png" style="width:50px; height:50px; "> Dry Jokes</a>
  
  
</nav>
<br>

<br>
<div class="contain-links">

<div class="sm" style="font-family:'Chalkduster';">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Click the arrow instead boss">Pages</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" style="">
      <a class="dropdown-item" href="/">Home</a>
      <a class="dropdown-item" href="/about">About</a>
      <a class="dropdown-item" href="/contact">Contact</a>
    </div>
  </div>
</div>
</div>


</div>

<br>





<div class= "bod">

  {{{body}}}
  <div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">There is Covid Outisde</h5>
    <p class="card-text">Click the button below to see current stats on the Covid-19 virus in West Africa</p>
    <a href="https://polar-spire-54135.herokuapp.com/" class="btn btn-primary">Covid-Tracker</a>
  </div>
  <div class="bottom-sm" style="align:center;">
<a href="http://github.com/olajvde"><button class="btn btn-outline-primary"><img src="https://img.icons8.com/doodle/48/000000/github--v1.png"/> Github</button>
</a>
<a href="http://twitter.com/olajvde"><button class="btn btn-outline-primary"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png"/>Twitter</button>
</a>
</div>
&copy Olajvde
<div>


</div>

</div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
